{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nodebuilder/node_list.css' %}">
{% for form in formset %}
    <meta 
        id = {{forloop.counter}}
        form = '{% csrf_token %} {{form.as_p}}'
      >
{% endfor %}



<h1>Node Builder</h1>



{% load static %}
<script type="text/javascript" src="{% static 'nodebuilder/js/node_list.js' %}"></script>



<div id="nodegrid">
    <div id="nodelist">
        <div id="btn-group">
            {% for form in formset %}
                {% if form.node_id.value == None %}
                    <button onclick="getCompForm(0)">Add New Node</button>
                {% else %}
                    <button onclick="getCompForm({{ forloop.counter }})">{{form.node_id.value}}</button></br>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="nodeform">
        <form id="form" action="/nodes/" method="post"><p>Click a node to begin!<p></form>
    </div>
</div>
