{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'nodebuilder/node_list.css' %}">

{% for comp in computers %}
    <meta class="1"
          sql_id = {{comp.sql_id}}>
{% endfor %}

<h1>Node Builder</h1>



{% load static %}
<script type="text/javascript" src="{% static 'nodebuilder/js/node_list.js' %}"></script>



<div id="nodegrid">
    <div id="nodelist">
        <div id="btn-group">
            <ul>
                {% for comp in computers %}
                    <li><a href="{% url 'nodebuilder:view_obj' comp.sql_id %}">{{comp.node_id}}</a></li>
                {% endfor %}
                <li><a href="/nodes/addObj/1/1">+ Add New Node?</a></li>
                </ul>
        </div>
    </div>
    <div id="nodeform">
        <form id="form" action="/nodes/" method="post"><p>Click a node to begin!<p></form>
    </div>
</div>
