{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'nodebuilder/node_list.css' %}">

<h1>Node Builder</h1>



{% load static %}
<script type="text/javascript" src="{% static 'nodebuilder/js/node_list.js' %}"></script>

<div id="nodegrid">
    <div id="nodelist">
        <div id="btn-group">
            <ul>
            {% for node in computers %}
                {% if node.sql_id|stringformat:"s" == obj_sql_id %}
                    <li>{{node.node_id}}</li>
                {% else %}
                    <li><a href="{% url 'nodebuilder:view_obj' node.sql_id %}">{{node.node_id}}</a></li>
                {% endif %}
            {% endfor %}
            <li><a href="/nodes/addObj/1/1">+ Add New Node?</a></li>
            </ul>
        </div>
    </div>
    <div id="nodeform">
        <form action="{% url 'nodebuilder:view_obj' obj_sql_id %}" method="post">
            {% csrf_token %}
            {% for field in form %}
                {% if field not in port_list %}
                    {{ field.errors }}
                    {{ field.label_tag }}
                    {{ field }} <br>
                {% endif %}
            {% endfor %}
            
            <input type="submit" value="Submit">
        </form>
        <form action="{% url 'nodebuilder:gen_obj' obj_sql_id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Generate">
        </form>
    </div>
</div>

